* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #e7e7e7;
}

/* 滚动条 */

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: #202022;
}

*::-webkit-scrollbar-thumb {
	border-radius: 999px;
	background-color: #e7e7e7;
}

*::-webkit-scrollbar-track {
	background-color: #202022;
}

head {
	cursor: url("../imgs/cursor.png"), default;
}

body {
	color: #e7e7e7;
	background-color: #202022;
	cursor: url("../imgs/cursor.png"), default;
}

.head-content {
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 99;
	border-bottom: 1px solid #e7e7e7;
	background-color: #1f1f1f;
}

.head-main-content {
	padding: 5px 20px;
	max-width: 1100px;
	display: flex;
	align-items: center;
	margin: auto;
}

.logo {
	font-size: 14px;
}

#blog-logo {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

flex-spacer {
	flex: 1;
}

/* 搜索框 */

.search-bar {
	flex: 1 1 200px;
	border: 1px solid #e7e7e7;
	border-radius: 0;
	display: flex;
	align-items: center;
}

.search-bar-form {
	flex: 1 1 0;
}

.search-bar-input {
	font-size: 14px;
	padding: 5px;
	background-color: transparent;
	flex: 1 1;
	width: 100%;
	box-sizing: border-box;

	caret-color:#00dffc;
}

.search-bar-input:focus {
  outline: none;
}
.search-bar-input:focus-visible {
  outline: none;
}

.search-bar-icon {
	width: 1.5rem;
	padding: 0 0.5rem;
}

/* 菜单 */
.btn-menu {
	width: 1.5rem;
	margin-left: 1rem;
}

small-menu {
	position: fixed;
	top: -100vh;
	left: 0px;
	right: 0px;
	height: 100vh;
	padding-top: 6rem;
	box-sizing: border-box;

	display: flex;
  align-items: center;
  flex-direction: column;

	transition: 0.3s;
	background-color: #101011;
}

small-menu.show {
	top: 0;
}

/* 通知框 */

my-alert {
	display: flex;
	position: absolute;
	align-items: center;
	top: 60px;
	left: 0;
	right: 0;	
	pointer-events: none;
}

my-alert-content {
	transition: .5s;

	margin: auto;
	padding: 0.4rem 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 1rem;
	background-color: #353536;
	border: 2px solid #00dffc;
	border-radius: 5px;
	color: #e7e7e7;
}



.body-content {
	max-width: 1130px;
	display: flex;
	padding: 60px 20px;
	font-size: 24px;
	margin: auto;
}



.left-column {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
	padding-top: 4rem;
}
left-btn-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 150px;
}

dynamic-btn {
	position: relative;
	margin: 1rem 0.5rem;

	font-size: 1rem;
	
	mix-blend-mode: difference;
}

.btn-text {
	mix-blend-mode: difference;
	padding: 0.8rem 1.2rem;
	border: 1px solid #00dffc;
}



.mid-column {
	flex: 1 1;
}

.mid-title {
	margin: 1rem 0;
	font-size: 1.8rem;
	font-weight: 600;
}

/* 文章概览 */

.article-card {
	margin: 0.4rem 0;
	padding: 0.8rem;
	display: grid;
	grid-template-columns: 1fr 4rem 4rem;
	background-color: #353536;
}
article-block:hover .article-card {
	background-color: #1f1f1f;
}

.article-title {
	display: block;
	grid-column: 1/3;
	grid-row: 1/2;
	font-weight: bold;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-digest {
	grid-column: 1/4;
	grid-row: 2/3;
	line-height: 1.4rem;
	max-height: 2.8rem;
	color: #b1b1b1;
	word-break: break-all;
	/* 为了实现多行省略号 */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.article-taglist {
	grid-column: 1/4;
	grid-row: 3/4;
	padding: 0.5rem 0 0.3rem;
}

.article-tag {
	padding: 0.04rem 0.5rem 0.16rem;
	margin-right: 0.2rem;
	border: 1px solid #08ffea;
	border-radius: 999px;
	color: #08ffea;
}

.article-hot {
	grid-column: 3/4;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.article-hot-img {
	height: 1.2rem;
	width: 1.2rem;
	margin-right: .2rem;
}

.article-hot-count {
	color: #08ffea;
}

/* 文章详情 */

.article-detail-header {
	margin: 0.4rem 0;
	padding: 0.8rem;
	display: grid;
	grid-template-columns: 1fr 4rem 4rem;
}

.article-detail-body {
	background-color: #353536;
	margin: 0.8rem 0;
	padding: 1.2rem;
}

.article-content {
	word-break: break-all;
}

.line-of-article-content {
	
	margin: 0.2rem 0;
}

.article-deatil-footer {
	display: flex;
	padding: 0 1rem;
	margin: 0 -1rem;
}

/* 编辑框 */

.article-edit-header {
	margin: 0.4rem 0;
	display: grid;
	grid-template-columns: 1fr 4rem 4rem;
}

.article-edit-title {
	padding: 0.8rem;
	display: block;
	grid-column: 1/4;
	grid-row: 1/2;
	font-weight: bold;
	font-size: 1.5rem;
	white-space: nowrap;

	background-color: #353536;
	border-radius: 5px;
}

.article-edit-body {
	background-color: #353536;
	margin: 0.8rem 0;
}

.article-edit-content {
	padding: 1.2rem;
	width: 100%;
	height: 50rem;
	word-break: break-all;
	box-sizing: border-box;
	background-color: #353536;
	border-radius: 5px;
}

.article-edit-footer {
	display: flex;
	padding: 0 1rem;
	margin: 0 -1rem;
}

/* 翻页器 */

page-manager {
	display: flex;
	padding: 0 1rem;
	margin: 0 -1rem;
}






.right-column {
	flex-basis: 250px;
	padding-top: 4rem;
	padding-left: 1.2rem;
}

main-tag {
	display: inline-block;

	margin: 0.35rem 0.25rem;
	padding: 0.08em 0.6em 0.1em;

	border: 1px solid #08ffea;
	border-radius: 999px;
	color: #08ffea;

	white-space: nowrap;
	user-select: none;
}

main-tag:hover {
	background-color: #1c4140;
}

.tag-count {
	user-select: none;
	color: aqua;
}




.foot-content {
	display: flex;
	align-items: center;
	margin: auto;
	padding: 5px 20px;
	border-top: 1px solid #e7e7e7;
	flex-direction: column;
}

.foot-text {
	text-align: center;
	color: #b1b1b1;
	font-size: 6px;
}

.github img {
	width: 1.5rem;
}

.github a {
	color: #b1b1b1;
	text-decoration: none;
}

.github a:hover {
	text-decoration: underline;
}



/* 移动端适配 */

@media only screen and (max-width: 814px){
	.display-when-big {
		display: none;
	}
	
}

@media only screen and (min-width: 814px){
	.display-when-small {
		display: none;
	}
	.search-bar {
		flex: 0 0 300px;
	}
}


/* 鼠标 */
.article-card, dynamic-btn, main-tag, .search-bar-icon {
	cursor: url("../imgs/cursor-r.png"), default;
}

/* 登录窗口 */
login-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	background-color: rgba(0,0,0,0.7);
	
	transition: height .3s;
}

.login-input-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem 2em 1em;

	z-index: 200;

	background-color: #1f1f1f;
	border: 2px solid #08ffea;
	border-radius: 20px;
	
	transition: height .3s;
}

.username-input, .passwd-input {
	
	padding: 5px;
	
	width: 100%;
	padding: 1rem 1rem;
	margin: 0.5rem 0;
	height: 1.2rem;
	box-sizing: border-box;

	font-size: 14px;

	background-color: #353536;
	border-radius: 5px;
	color: #e7e7e7;
	caret-color:#00dffc;
}

login-input-btn {
	display: flex;
	width: 100%;
	margin: 0 -1rem;
}

.close-login-box {
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
	height: 3rem;
	width: 3rem;

	font-size: 2rem;
	text-align: center;
	color: #08ffea;
	user-select: none;

	border: 2px solid #08ffea;
	border-radius: 999px;
	background-color: #1f1f1f;
}